CLIENT_ID=node-events-app
GROUP_ID=node-events-group
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_MOVIE=movie-events
KAFKA_TOPIC_USER=user-events
KAFKA_TOPIC_PAYMENT=payment-events

MONGODB_URI=mongodb://mongo:27017
MONGODB_DB=eventsdb

PORT=8082
